# Public App Configuration
NEXT_PUBLIC_SITE_URL=https://zynqtoon.web.id

# Google PageSpeed Insights API Key
PAGESPEED_API_KEY=your_pagespeed_api_key_here

# Supabase Cloud Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
