# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js Build Outputs & Cache
.next/
out/
build/
dist/

# Development & Tooling caches
coverage/
.hermes/
*.log
*.tsbuildinfo

# Environment Variables
.env*.local
.env
!.env.example

# Vercel
.vercel

# Operating System
.DS_Store
Thumbs.db
